.landing {
    max-width: 1280px;
    width: 100%;
}

.landing__main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 75px 0;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: flex-start;
}

.landing__header {
    line-height: 58px;
    font-size: 50px;
    font-weight: normal;
    max-width: 640px;
    width: 100%;

    padding: 0;
    margin: 0;
}

.landing__text {
    font-size: 13px;
    font-weight: normal;

    max-width: 310px;
    width: 100%;

    padding: 0;
    margin: 36px 0 0;

    opacity: 50%;
}

.landing__btn {
    margin: 146px 0 0;
    padding: 10px 20px;
    max-width: 139px;
    width: 100%;

    box-sizing: border-box;
    border: 1px solid #000;
    border-radius: 3px;

    font-size: 12px;
    font-weight: normal;
    line-height: 16px;
}

.landing__picture {
    max-width: 310px;
    width: 100%;
    max-height: 304px;
    height: 100%;
    object-fit: contain;
}

.section {
    background-color: #fff;
    padding: 0 70px;
    box-sizing: border-box;
}

.section_grey {
    background-color: #DDDEE3;
}

.about__container_header {
    border-bottom: solid 1px #000;
}

.about__header {
    padding: 110px 0 23px;
    margin: 0;
    font-size: 22px;
    font-weight: normal
}

.about__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.about__element {
    max-width: 550px;
    width: 100%;
}

.container__header {
    font-size: 20px;
    font-weight: normal;
}

.container__text {
    font-size: 14px;
    font-weight: normal;
}

.elapsed-time__list {
    padding: 110px 0;
    list-style-type: none;
}

.elapsed-time__list {
    padding: 110px 0;
    list-style-type: none;
    display: grid;
    margin: 0;
    grid-template-columns: repeat(4, 1fr);
}

.elapsed-time__element_long{
    grid-column: span 3;
}

.elapsed-time__element {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: normal;
    opacity: 50%;
}

.elapsed-time__element:first-of-type {
    background-color: #3456F3;
    color: #FFFFFF;
    opacity: 100%;
}

.elapsed-time__element:nth-of-type(2) {
    opacity: 100%;
}