
.portfolio-list__header {
    color: #A0A0A0;
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
    
    margin: 100px 0 0;
    padding: 0;
}

.portfolio-list {
    list-style-type: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: column;

    margin: 0;
    padding: 30px 0 100px;
}

.portfolio-list__element {
    padding: 20px 0;
    box-sizing: border-box;
    transition: opacity .8s ease-in-out, box-shadow .8s ease-in-out;
}

.portfolio-list__element:hover {
    opacity: .5;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
}


.portfolio-list__element:nth-of-type(2n) {
    border-top: #E8E8E8 solid 1px;
    border-bottom: #E8E8E8 solid 1px;
}

.portfolio-list__link {
    display: flex;
    align-items: center;
    justify-content: space-between;

    color: #000;
    text-decoration: none;
}

.portfolio-list__title {
    font-weight: 400;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: -0.04em;
    
    margin: 0;
    padding: 0;
}

.portfolio-list__link-image {
    max-width: 18px;
    width: 100%;
    max-height: 60px;
    box-sizing: border-box;
    margin-right: 4px;
}

@media screen and (max-width: 1024px) {
    .portfolio-list {
        padding-bottom: 70px;
    }
    .portfolio-list__header {
        margin-top: 90px;
    }
    .portfolio-list__title {
        letter-spacing: -0.04em;
        font-size: 28px;
    }  
}

@media screen and (max-width: 400px) {
    .portfolio-list {
        padding-top: 20px;
        padding-bottom: 50px;
    }
    .portfolio-list__header {
        margin-top: 53px;
        margin-bottom: 20px;
        
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
    }
    .portfolio-list__title {
        font-size: 18px;
        line-height: 28px;
        letter-spacing: -0.04em;
    }
    .portfolio-list__link-image {
        max-width: 14px;
        max-height: 14px;
    }
}