.section {
    background-color: #fff;
    padding: 0 70px;
    box-sizing: border-box;
}

.section__container-header {
    padding: 110px 0 23px;
    border-bottom: solid 1px #000;
    min-height: 26px;
}

.section__header {
    margin: 0;
    font-size: 22px;
    font-weight: 400;
}

.section_promo {
    background-color: #DDDEE3;
}

.about {
    background-color: #FAFAFA;
}

.techs {
    background-color: #FAFAFA;
}

.student {
    background-color: #FAFAFA;
}

@media screen and (max-width: 1024px) {
    .section {
        padding: 0 50px;
    }
    .section__container-header {
        padding-top: 90px;
    }
}

@media screen and (max-width: 760px) {
    .section {
        padding: 0 18px;
    }
    .section__container-header {
        padding-top: 70px;
    }
    .section_promo {
        padding: 0;
    }
    .section__header {
        font-size: 18px;
        line-height: 22px;

        letter-spacing: -0.04em;
    }
    .student {
        padding: 0 14px;
    }
}
