.section {
    background-color: #fff;
    padding: 0 70px;
    box-sizing: border-box;
}

.section__container-header {
    padding: 110px 0 23px;
    border-bottom: solid 1px #000;
    min-height: 26px;
}

.section__header {
    margin: 0;
    font-size: 22px;
    font-weight: 400;
}

.landing {
    background-color: #DDDEE3;
}

.about {
    background-color: #FAFAFA;
}

.tech {
    background-color: #F5F5F5;
}

.student {
    background-color: #FAFAFA;
}
