.more {
    max-width: 1280px;
    width: 100%;
    min-height: 140px;
    padding: 50px 70px 80px;

    display: flex;
    justify-content: center;

    box-sizing: border-box;
    background-color: #FAFAFA;
}

.more__button {
    width: 100%;
    background-color: #F4F4F4;
    border: none;
    border-radius: 8px;

    padding: 11px 0 10px;

    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
    transition: opacity .8s ease-in-out;
    cursor: pointer;
}

.more__button:hover {
    opacity: .7;
}

.more__button_false {
    display: none;
}

@media screen and (max-width: 1279px) {
    .more {
        padding: 50px 10px 80px;
    }
}