.header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    max-width: 1280px;
    width: 100%;
    padding: 18px 70px;
    box-sizing: border-box;

    background-color: #DDDEE3;
}

.header_white {
    background-color: #FAFAFA;
} 

.header_auth {
    margin: 0;
    padding: 70px 442px 0;
    background-color: #FAFAFA;
}
