.nav-tab {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    visibility: hidden;

    max-width: 520px;
    width: 100%;
    background: #FAFAFA;
    height: 100vh;

    position: relative;
    right: -520px;
    transition: all  1s ease-in-out;

    margin: 0;
    padding: 22px 22px 90px;
    box-sizing: border-box;
    z-index: 3;
}

.nav-tab__underlayer {
    display: flex;
    justify-content: flex-end;
    visibility: hidden;
    z-index: 2;

    width: 100vw;
    height: 100vh;

    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0);
    transition: background ease-in-out 1s;
    overflow: hidden;
}

.nav-tab__underlayer_true {
    visibility: visible;
    background: rgba(0, 0, 0, .3);
}

.nav-tab_true {
    visibility: visible;
    right: 0px;
}

.nav-tab__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-tab__close-btn {
    background-color: transparent;
    background-image: url("../../images/nav-mini__close.svg");
    background-repeat: no-repeat;
    background-position: center;

    width: 22px;
    height: 22px;
    border: none;

    cursor: pointer;
    align-self: end;

    transition: opacity .8s ease-in-out, box-shadow .8s ease-in-out;
}

.nav-tab__close-btn:hover {
    opacity: .5;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
}

.nav-tab__link-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.nav-tab__link {
    margin-top: 28px;
    padding: 0;
    
    box-sizing: border-box;

    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: right;
    text-decoration: none;

    display: flex;
    align-items: center;

    color: #000000;
    background-color: transparent;
    border: none;

    cursor: pointer;
    transition: opacity .8s ease-in-out, box-shadow .8s ease-in-out;
}

.nav-tab__link:hover {
    opacity: .5;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
}


.nav-tab__link:first-of-type {
    margin-top: 106px;
}

.nav-tab__link_underline {
    text-decoration: underline;
    text-underline-offset: 10px;
}

.nav-tab__btn {
    margin: 0 0 0 30px;
    padding: 8px 20px;
    
    box-sizing: border-box;

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: right;
    text-decoration: none;

    color: #fff;
    background-color: #3456F3;

    border: none;
    border-radius: 3px;
    
    cursor: pointer;
}

.nav-tab__container {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;

    border: 2px solid rgba(170, 170, 170, 0.2);
    border-radius: 50px;
    box-sizing: border-box;
    padding: 7px 12px;
    margin: 0;
    transition: opacity .8s ease-in-out, box-shadow .8s ease-in-out;
}

.nav-tab__container:hover {
    opacity: .8;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
}

.nav-tab__link-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;

    margin: 0;
    padding: 0 0 0 7px;

    color: #000000;
}

@media screen and (max-width: 425px) {
    .nav-tab {
        padding: 14px 14px 46px;
    }
    .nav-tab__link{
        margin-top: 24px;
    }
    .nav-tab__link:first-of-type {
        margin-top: 100px;
    }
}